<div class="container-footer">
    <div class="row">
       
        <!---socialmedia-->
        <div class="col-lg-2">
          <p class="hello">Social media <i class="bi bi-box-arrow-in-down-right"></i></p>
          <a href="#"  target="_blank" ></a><i class="bi bi-facebook"></i>
          <a href="#"  target="_blank" ></a><i class="bi bi-whatsapp"></i>
          <a href="#"  target="_blank"></a><i class="bi bi-instagram"></i>
          <a href="#"  target="_blank"></a><i class="bi bi-youtube"></i>
            
        </div>
    </div>
</div>